﻿@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Http;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IHttpContextAccessor accessor;
@inject API_SystemContext Context;
@using API_System.BLL;
@inject IUserService userInfor;
@{
    UserService m = new UserService(Context, accessor);
    var user = await UserManager.GetUserAsync(User);
    var defaultanimation = new Syncfusion.EJ2.Popups.DialogAnimationSettings { Effect = Syncfusion.EJ2.Popups.DialogEffect.None };
    ViewBag.button = new
    {
        content = "New Message",
        isPrimary = true
    };
    ViewBag.buttonCancel = new
    {
        content = "Cancel",
        isPrimary = true
    };
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - USAID-ICAN</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/ej2/material.css" />
    <script src="~/js/ej2/ej2.min.js"></script>
</head>
<body style='background: #d0d8db'>

    <header>
        @if (SignInManager.IsSignedIn(User))
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm n navbar-success bg-warning border-bottom box-shadow mb-3">
                <div class="container">
                    <img class="imgId" width="40" height="40" src="~/abtlogo1.png" />

                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="DashBoard">ICAN DASHBOARD PROJECT</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                        <ul class="navbar-nav flex-grow-1">
                            @*<li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="DashBoard">Home</a>

                                </li>

                                <li></li>*@

                            @*<li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light" href="#" data-toggle="dropdown">About Us</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="DashBoard"> What We Do </a>
                                        </li>
                                        <li></li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="DashBoard"> Where We Work </a>

                                        </li>

                                    </ul>
                                </li>

                                <li></li>*@


                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" data-toggle="dropdown">Indicator DashBoards</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="#">General Indicators</a>
                                        <ul class="submenu dropdown-menu">
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Register"> Where We Work (Map)</a></li>

                                            <li></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="UserManagement">Regions</a></li>

                                            <li></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="PasswordManagement">Districts</a></li>

                                            <li></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="PasswordManagement">SubCounties</a></li>

                                            <li></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="PasswordManagement">DashBoard</a></li>

                                        </ul>
                                    </li>

                                    <li></li>
                                    <li>
                                        <a class="dropdown-item" href="#">Livelihoods Indicators</a>
                                        <ul class="submenu dropdown-menu">
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="BSPRevised">Business Service Providers </a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="LivelihoodVSLA">Village Saving and Loans Association (VSLA) </a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="LivelihoodLinkageMkts">Linkages (Markets) </a></li>

                                        </ul>
                                    </li>

                                    <li></li>
                                    <li>
                                        <a class="dropdown-item" href="#">Nutrition Indicators</a>
                                        <ul class="submenu dropdown-menu">
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="MICYANGroups">MICYAN Groups </a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="NutritionTraining">Nutrition Training </a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="IYCF">IYCF Related Interventions  </a></li>


                                        </ul>
                                    </li>

                                    <li></li>
                                    <li>
                                        <a class="dropdown-item" href="#">Governance Indicators</a>
                                        <ul class="submenu dropdown-menu">
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Utilities" asp-action="Roles"> DashBoard </a></li>
                                            @*<li></li>
                                                <li><a class="dropdown-item" asp-area="" asp-controller="Utilities" asp-action="Departments"> Department </a></li>

                                                <li></li>
                                                <li><a class="dropdown-item" asp-area="" asp-controller="Utilities" asp-action="Organization"> Organization </a></li>*@

                                        </ul>
                                    </li>

                                    <li></li>
                                    <li>
                                        <a class="dropdown-item" href="#">Education Indicators</a>
                                        <ul class="submenu dropdown-menu">
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="SchoolInterventions">School Interventions</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="AGYW">Adolescent Girl and Young Women</a></li>

                                        </ul>
                                    </li>

                                    <li></li>

                                    <li>
                                        <a class="dropdown-item" href="#">Environment</a>
                                        <ul class="submenu dropdown-menu">
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="EnvManagement"> Environmental Management </a></li>
                                            @*<li></li>
                                                <li><a class="dropdown-item" asp-area="" asp-controller="Utilities" asp-action="Departments"> Department </a></li>

                                                <li></li>
                                                <li><a class="dropdown-item" asp-area="" asp-controller="Utilities" asp-action="Organization"> Organization </a></li>*@

                                        </ul>
                                    </li>

                                </ul>
                            </li>

                            <li></li>


                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" data-toggle="dropdown">Utilities</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="#">User Management</a>
                                        <ul class="submenu dropdown-menu">
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Register"> Register New Users</a></li>

                                            <li></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="UserManagement"> Manage Users/Assign Roles </a></li>

                                            <li></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="PasswordManagement"> Manage User Passwords </a></li>

                                        </ul>
                                    </li>
                                    <li></li>
                                    <li>
                                        <a class="dropdown-item" href="#">Manage Utilities (Add/Edit)</a>
                                        <ul class="submenu dropdown-menu">
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Utilities" asp-action="Roles"> Roles </a></li>
                                            <li></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Utilities" asp-action="Departments"> Department </a></li>

                                            <li></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Utilities" asp-action="Organization"> Organization </a></li>

                                        </ul>
                                    </li>
                                    @*<li></li>
                                        <li>
                                            <a class="dropdown-item" href="#">CHIS-User Manual</a>
                                            <ul class="submenu dropdown-menu">
                                                <li><a href="~/UserManual.pdf" target="_blank"><span>CHIS User Manual</span></a></li>
                                                <li></li>
                                            </ul>
                                        </li>*@
                                </ul>
                            </li>


                        </ul>
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </nav>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>*@

            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            @RenderBody()
        </main>
    </div>

    @*Footer for the Pages*@
    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - API_System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@


    @RenderSection("Scripts", required: false)
    <ejs-scripts></ejs-scripts>
</body>
</html>


<style>
    #Grid_dialogEdit_wrapper {
        min-height: 750px;
        min-width: 90%;
    }

    #page-content-wrapper {
        margin-left: 20px;
        margin-right: 7px;
    }

    /*Footer Class Settings*/
    border-top footer text-muted {
        margin-bottom: 0px;
        border-bottom-width: -1px;
    }
    /*Edit DashBoard Container*/
    .container {
        margin-left: 0%; /*Dashboard Margin from Border*/
        min-width: 97%;
        width: 97%;
        padding: 0px;
        margin-right: -1%;
    }

    .dropdown-menu .dropdown-toggle:after {
        border-top: .3em solid transparent;
        border-right: 0;
        border-bottom: .3em solid transparent;
        border-left: .3em solid;
    }

    .dropdown-menu .dropdown-menu {
        margin-left: 0;
        margin-right: 0;
    }

    .dropdown-menu li {
        position: relative;
    }

    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }

    .nav-item .submenu-left {
        display: none;
        position: absolute;
        left: auto;
        right: 100%;
        margin-left: 0;
        margin-right: -1px;
        top: -7px;
    }

    .left-float {
        display: none;
        position: absolute;
        left: auto;
        right: 100%;
        margin-left: 0;
        margin-right: -1px;
    }


    .dropdown-menu > li:hover {
        background-color: #f1f1f1
    }

        .dropdown-menu > li:hover > .submenu {
            display: block;
        }

        .dropdown-menu > li:hover > .submenu-left {
            display: block;
        }

    .dropdown-menu-left > li:hover > .submenu-left {
        display: block;
    }

    #Message_Badge {
        border: none;
        cursor: pointer;
        position: fixed;
        bottom: 108px;
        right: 22px;
        /*width: 80px;
            height: 80px;
            border-radius: 80px;*/
    }

    .open-button {
        /*background-color: #555;*/
        background-color: black;
        color: white;
        font: 700, bold;
        /*padding: 16px 20px;*/
        border: none;
        cursor: pointer;
        /*opacity: 0.8;*/
        position: fixed;
        bottom: 70px;
        right: 28px;
        width: 60px;
        height: 60px;
        border-radius: 80px;
    }

    .message_container {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        width: 95%;
        padding: 10px;
        margin: 10px 0;
    }

    .darker {
        border-color: #ccc;
        background-color: #ddd;
    }

    .message_container::after {
        content: "";
        clear: both;
        display: table;
    }

    .message_container img {
        float: left;
        max-width: 60px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
    }

        .message_container img.right {
            float: right;
            margin-left: 20px;
            margin-right: 0;
        }

    .time-right {
        float: right;
        color: #aaa;
    }

    .time-left {
        float: left;
        color: #999;
    }
</style>

<style>

    body, html {
        height: 100%;
        width: 100%;
        padding: -1px;
    }
</style>