﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using API_System.BLL;
@inject IUserService userInfor;
<ul class="navbar-nav" style="color:red; font:bolder">
    @if (SignInManager.IsSignedIn(User))
    {
    <li class="nav-item">
        @*<img class="imgId" width="40" height="40" src="~/kcca-logo.jpg" />*@
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @userInfor.GetFullName()</a>
    </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Logout">Log-Out</a>
        </li>
    }
    else
    {
        <li class="nav-item" style="color:red; font:bolder">
            <a class="nav-link text-light" style="color:red; font:bolder" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Login">Log-in</a>
        </li>
    }
</ul>
