﻿
@model API_System.ModelView.LoginViewModel
@{
    ViewBag.Title = "LoginUnAuth";
    Layout = "";
}


@*<div>
        <p>Yes</p>
    </div>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Un Authorized</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="@Url.Content("~/abtlogo1.png")" />  
    <link href="~/LoginScripts/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/LoginScripts/fonts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/LoginScripts/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" />
    <link href="~/LoginScripts/vendor/animate/animate.css" rel="stylesheet" />
    <link href="~/LoginScripts/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <link href="~/LoginScripts/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
    <link href="~/LoginScripts/vendor/select2/select2.min.css" rel="stylesheet" />
    <link href="~/LoginScripts/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/LoginScripts/css/util.cs" rel="stylesheet" />
    <link href="~/LoginScripts/css/main.css" rel="stylesheet" />
    <style>
        .text2 {
            color: darkred;
            font-weight: bold;
        }

        .text3 {
            color: navy;
            font-weight: bold;
            font-size: x-large;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        li {
            float: left;
        }

            li a {
                display: block;
                color: red;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover {
                    background-color: #111;
                }
    </style>

</head>

<body>


    <div class="container-contact100" style="background-image: url('~/abtlogo1.png');">
        
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">

                    <li class="active">
                        <strong>
                            Ooooops !!! You are not authorized to access this system.
                            This account was deleted. Please contact your System Administrator for help.
                        </strong>

                    </li>
                </ol>

                <ol class="breadcrumb">

                    <li>

                        @Html.ActionLink("Back", "Login", "Account", null, new { @class = "btn btn-primary btn-large" })

                    </li>

                </ol>
            </div>
        </div>
    </div>



    <div id="dropDownSelect1"></div>


</body>

</html>
