﻿@using API_System.ModelView
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb" style="margin-top:5px;">
    <li class="breadcrumb-item">
        <a href="/DashBoard/Dashboard">Dashboard</a>
    </li>
    <li class="breadcrumb-item">@ViewData["Title"]</li>
    <li class="breadcrumb-item active">Create a new account.</li>
</ol>

<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="col-md-4">
                <label asp-for="NameOfUserAccountHolder"></label>
            </div>

            <div class="col-md-8">
                <input asp-for="NameOfUserAccountHolder" class="form-control" />
                <span asp-validation-for="NameOfUserAccountHolder" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="col-md-4">
                <label asp-for="Email"></label>
            </div>

            <div class="col-md-8">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="col-md-4">
                <label asp-for="UserName"></label>
            </div>

            <div class="col-md-8">
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="col-md-4">
                <label asp-for="PhoneNumber"></label>
            </div>

            <div class="col-md-8">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="col-md-4">
                <label asp-for="Password"></label>
            </div>

            <div class="col-md-8">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="col-md-4">
                <label asp-for="ConfirmPassword"></label>
            </div>

            <div class="col-md-8">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="col-md-4">
                <label asp-for="UserRole"></label>
            </div>

            <div class="col-md-8">
                <ejs-dropdownlist id="UserRole" dataSource="@ViewBag.Roles" placeholder="User Role" floatLabelType="Never" popupHeight="300px">
                    <e-dropdownlist-fields text="Name" value="Name"></e-dropdownlist-fields>
                </ejs-dropdownlist>
                <span asp-validation-for="UserRole" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group col-md-6">
            <div class="col-md-4">
                <label asp-for="department_id"></label>
            </div>

            <div class="col-md-8">
                <ejs-dropdownlist id="department_id" dataSource="@ViewBag.department" placeholder="Department" floatLabelType="Never" popupHeight="300px">
                    <e-dropdownlist-fields text="Department" value="DepartmentId"></e-dropdownlist-fields>
                </ejs-dropdownlist>
                <span asp-validation-for="department_id" class="text-danger"></span>
            </div>
        </div>
    </div>


    @*<div class="form-row">
            <div class="form-group col-md-6">
                <div class="col-md-4">
                    <label asp-for="Section"></label>
                </div>

                <div class="col-md-8">
                    <ejs-multiselect id="Section" dataSource="@ViewBag.Section" placeholder="Sections(s)" floatLabelType="Never" popupHeight="300px"
                                     showSelectAll="true" showDropDownIcon="true" allowFiltering="true" mode="CheckBox">
                        <e-multiselect-fields text="SectionDescription" value="SectionId" groupBy="SectionHeader"></e-multiselect-fields>
                    </ejs-multiselect>
                    <span asp-validation-for="Section" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-4">
                    <label asp-for="country_id"></label>
                </div>

                <div class="col-md-8">
                    <ejs-dropdownlist id="country_id" dataSource="@ViewBag.Countries" placeholder="Partner State" floatLabelType="Never" popupHeight="300px">
                        <e-dropdownlist-fields text="Country" value="Id"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                    <span asp-validation-for="country_id" class="text-danger"></span>
                </div>
            </div>
        </div>*@

    <div class="form-row">
        @*<div class="form-group col-md-6">
                <div class="col-md-4">
                    <label asp-for="sectoralcouncil_id"></label>
                </div>

                <div class="col-md-8">
                    <ejs-multiselect id="sectoralcouncil_id" dataSource="@ViewBag.SectoralCouncil" placeholder="Sectoral Council(s)" floatLabelType="Never" popupHeight="300px"
                                     showSelectAll="true" showDropDownIcon="true" allowFiltering="true" mode="CheckBox">
                        <e-multiselect-fields text="SectoralCouncil" value="Id"></e-multiselect-fields>
                    </ejs-multiselect>
                    <span asp-validation-for="sectoralcouncil_id" class="text-danger"></span>
                </div>
            </div>*@

        <div class="form-group col-md-6">
            <div class="col-md-4">
                <label asp-for="organization_id"></label>
            </div>

            <div class="col-md-8">
                <ejs-dropdownlist id="organization_id" dataSource="@ViewBag.organization" placeholder="Organization" floatLabelType="Never" index="0" popupHeight="300px">
                    <e-dropdownlist-fields text="Organization" value="OrganizationId" ></e-dropdownlist-fields>
                </ejs-dropdownlist>
                <span asp-validation-for="organization_id" class="text-danger"></span>
            </div>
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

