﻿
@{
    ViewData["Title"] = "User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<partial name="MessagePartial" />*@

<ol class="breadcrumb" style="margin-top:5px;">
    <li class="breadcrumb-item active" style="width: 100%; background-color: black; color: white; font-family: Cambria; padding: 5px; font: bolder;"> <stong>User Management </stong></li>
</ol>

<ejs-grid id="Grid"
          allowPaging="true" allowResizing="true" allowTextWrap="true"
          allowSorting="true" allowReordering="true" allowGrouping="true" gridLines="Both"
          toolbar="@(new List<string>() { "Search", "Edit","Update","Cancel" , "ExcelExport" , "CsvExport" ,"PdfExport"})"
          allowFiltering="true" allowSelection="true" allowExcelExport="true"
          allowPdfExport="true" toolbarClick="toolbarClick" actionComplete="onEdit" actionBegin="OnBeging" load="onLoad">
    <e-data-manager url="/Account/DataSourceUserManagementNew" updateUrl="/Account/UpdateUserManagement" adaptor="UrlAdaptor"></e-data-manager>
    <e-grid-pagesettings pageSize="7" pageSizes="true" pageCount="4" />
    <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
    <e-grid-editSettings allowAdding="false" allowDeleting="false" allowEditing="true" mode="Dialog" template='#dialogtemplate'></e-grid-editSettings>
    <e-grid-selectionsettings type="Single"></e-grid-selectionsettings>
    <e-grid-columns>
        <e-grid-column type="checkbox" width="50"></e-grid-column>
        <e-grid-column field="Id" headerText="Id" visible="false" isPrimaryKey="true" isIdentity="true"></e-grid-column>
        <e-grid-column field="NameOfUserAccountHolder" headerText="Full Name"></e-grid-column>
        <e-grid-column field="Email" headerText="Email"></e-grid-column>
        <e-grid-column field="RoleName" headerText="Role"></e-grid-column>
        <e-grid-column field="Department" headerText="Department" foreignKeyField="DepartmentId" foreignKeyValue="Department" dataSource="@ViewBag.department"></e-grid-column>
        <e-grid-column field="PhoneNumber" headerText="Phone Number"></e-grid-column>
        
        <e-grid-column field="Organization" headerText="Organization" foreignKeyField="OrganizationId" foreignKeyValue="Organization" dataSource="@ViewBag.organization"></e-grid-column>
        <e-grid-column field="LockoutEnabled" headerText="Is Lockout Enabled" displayAsCheckBox="true" textAlign="Center" type="boolean"></e-grid-column>

        <!--<e-grid-column field="Facility" headerText="Facility/School" template="${FacilityNames(data)}" filter="@(new { type="CheckBox", itemTemplate="${FacilityNames(data)}"})"></e-grid-column>-->
        @*<e-grid-column field="Facility" headerText="Facility" foreignKeyField="FacilityCode" foreignKeyValue="Facility" dataSource="@ViewBag.Facility"></e-grid-column>*@
        <!--<e-grid-column field="OperationalArea" headerText="Operational Area" foreignKeyField="OperationalCode" foreignKeyValue="OperationalArea" dataSource="@ViewBag.OperationalArea"></e-grid-column>-->

    </e-grid-columns>
</ejs-grid>

<script>
    function onLoad(args) {
        setToolbarItems();
    }
</script>

<script id='dialogtemplate' type="text/x-template">
    <div id="dialogTemp">
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="e-float-input e-control-wrapper">
                    <input type="text" id="NameOfUserAccountHolder" name="NameOfUserAccountHolder" value="${if(NameOfUserAccountHolder === null || NameOfUserAccountHolder === undefined)} ${else}${NameOfUserAccountHolder}${/if}" class="form-control" />
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="NameOfUserAccountHolder">Full Name</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="e-float-input e-control-wrapper">
                    <input type="text" id="Email" name="Email" value="${if(Email === null || Email === undefined)} ${else}${Email}${/if}" class="form-control" />
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="Email">Email</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="e-float-input e-control-wrapper">
                    <input type="text" id="UserName" name="UserName" value="${if(UserName === null || UserName === undefined)} ${else}${UserName}${/if}" class="form-control" />
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="UserName">User Name</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="e-float-input e-control-wrapper">
                    <input type="number" id="PhoneNumber" name="PhoneNumber" value="${if(PhoneNumber === null || PhoneNumber === undefined)} ${else}${PhoneNumber}${/if}" class="form-control" />
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="PhoneNumber"> Phone Number</label>
                </div>
            </div>
        </div>
        <div class="form-row" hidden="hidden">

            <div class="form-group col-md-6" hidden="hidden">
                <div class="e-float-input e-control-wrapper">
                    <input type="text" id="Id" name="Id" value="${if(Id === null || Id === undefined)} ${else}${Id}${/if}" class="form-control" />
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="Id"> Id</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" id="RoleName" name="RoleName" class="form-control" />
            </div>
          
            <div class="form-group col-md-6">
                <input type="text" id="Department" name="Department" class="form-control" />
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" id="Organization" name="Organization" class="form-control" />
            </div>

        </div>

        <div class="form-row">           
            <div class="form-group col-md-6">
                <div class="col-md-4">
                    Enable LockOut
                </div>

                <div class="col-md-8">
                    <input type="checkbox" id="LockoutEnabled" name="LockoutEnabled" class="form-control" />
                </div>
            </div>
        </div>

    </div>
</script>
<script>
     let _Roles =@Html.Raw(Json.Serialize(ViewBag.Roles));
    let _Department =@Html.Raw(Json.Serialize(ViewBag.department));
    let _Organization =@Html.Raw(Json.Serialize(ViewBag.organization));

    function toolbarClick(args) {
            if (args.item.id === this.element.id + '_pdfexport') {
                this.pdfExport();
            }
            if (args.item.id === this.element.id + '_csvexport') {
                this.csvExport();
            }
            if (args.item.id === this.element.id + '_excelexport') {
                this.excelExport();
            }
        }
        function onEdit(args) {
            if (args.requestType === 'beginEdit' || args.requestType === 'add') {

                //#####
                var data = args.rowData;

                window.args = args.requestType;

                // For custom save button
                args.dialog.btnObj[0].destroy();
                args.dialog.btnObj[0].element.id = "save";

                var progressSaveButton = new ejs.splitbuttons.ProgressButton({
                    content: 'Save',
                    enableProgress: true,
                    animationSettings: { effect: 'SlideRight' },
                    spinSettings: { position: 'Center' },
                    cssClass: 'e-success',
                }); progressSaveButton.appendTo('#save');

                // For custom cancel button
                args.dialog.btnObj[1].destroy();
                args.dialog.btnObj[1].element.id = "cancel";

                var progressCancelButton = new ejs.splitbuttons.ProgressButton({
                    content: 'Cancel',
                    enableProgress: true,
                    animationSettings: { effect: 'SlideRight' },
                    spinSettings: { position: 'Center' },
                    cssClass: 'e-danger',

                });
                progressCancelButton.appendTo('#cancel');

                // saving the edit action
                document.getElementById('save').addEventListener('click', function (args) {
                    //onclick = savess();
                }.bind(this));

                // Cancelling the edit action
                document.getElementById('cancel').addEventListener('click', function (args) {
                    //onclick = cancelss();

                }.bind(this));

             //#####

                var RoleNameElement = args.form.elements['RoleName'];
                new ej.dropdowns.DropDownList({
                    value: args.rowData.RoleName, dataSource: _Roles, floatLabelType: 'Always',
                    popupHeight: '300px', fields: { value: 'Name', text: 'Name' }, placeholder: 'User Role', allowFiltering: true,
                    filterBarPlaceholder: 'Search User Role', /*change: ShopChange,*/
                }, RoleNameElement);

                var DepartmentArea = args.form.elements['Department'];
                new ej.dropdowns.DropDownList({
                    value: args.rowData.Department,
                    dataSource: _Department,
                    floatLabelType: 'Always',
                    popupHeight: '300px',
                    fields: { value: 'DepartmentId', text: 'Department' },
                    placeholder: 'Department', allowFiltering: true,
                    filterBarPlaceholder: 'Search Department',
                }, DepartmentArea);

                var OrganizationArea = args.form.elements['Organization'];
                new ej.dropdowns.DropDownList({
                    value: args.rowData.Organization,
                    dataSource: _Organization,
                    floatLabelType: 'Always',
                    popupHeight: '300px',
                    fields: { value: 'OrganizationId', text: 'Organization' },
                    placeholder: 'Organization', allowFiltering: true,
                    filterBarPlaceholder: 'Search Organization',
                }, OrganizationArea);


                document.getElementById("LockoutEnabled").checked = false;
                var Islockedout = args.rowData.LockoutEnabled;
                if (Islockedout == true) {
                    document.getElementById("LockoutEnabled").checked = true;
                }


                if (args.requestType === 'beginEdit') {
                    args.dialog.header = args.requestType === 'beginEdit' ? 'Editing User: ' + args.rowData['NameOfUserAccountHolder'] : 'NameOfUserAccountHolder';

                }


            }
            else if (args.requestType == "save") {
                var grid = document.getElementById("Grid").ej2_instances[0];
                grid.refresh(); // refresh the Grid.
            }
        }
        function OnBeging(args) {
            if (args.requestType == 'save') {
                //var assSelectedModules = document.getElementById("SelectedModules").ej2_instances[0];
                //if (assSelectedModules.value != null) {
                //    args.data["SelectedModules"] = assSelectedModules.value.join();
                //}
                //Facility
                //var assSelectedSections = document.getElementById("Facility").ej2_instances[0];
                //if (assSelectedSections.value != null) {
                //    args.data["Facility"] = assSelectedSections.value.join();
                //}


                //var assSelectedSections = document.getElementById("SelectedSections").ej2_instances[0];
                //if (assSelectedSections.value != null) {
                //    args.data["SelectedSections"] = assSelectedSections.value.join();
                //}


                args.data["LockoutEnabled"] = $("#LockoutEnabled").is(":checked");
            }
        }
  
</script>

<script>
      function setToolbarItems()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('Grid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

                var $toolbar = $("#Grid_toolbarItems");
                ////Gets the tool

                li = $("#Grid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
</script>