﻿
@model API_System.ModelView.LoginViewModel
@{
    ViewBag.Title = "ICANHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>ICAN Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="@Url.Content("~/abtlogo1.png")" />
    <link href="~/LoginScripts/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/LoginScripts/fonts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/LoginScripts/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" />
    <link href="~/LoginScripts/vendor/animate/animate.css" rel="stylesheet" />
    <link href="~/LoginScripts/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <link href="~/LoginScripts/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
    <link href="~/LoginScripts/vendor/select2/select2.min.css" rel="stylesheet" />
    <link href="~/LoginScripts/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/LoginScripts/css/util.cs" rel="stylesheet" />
    <link href="~/LoginScripts/css/main.css" rel="stylesheet" />
    <style>
      /*  .text2 {
            color: darkred;
            font-weight: bold;
        }*/

     /*   .text3 {
            color: navy;
            font-weight: bold;
            font-size: x-large;
        }*/

      /*  ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }*/

      /*  li {
            float: left;
        }*/

           /* li a {
                display: block;
                color: red;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }*/

              /*  li a:hover {
                    background-color: #111;
                }*/
    </style>

</head>

<body>

    <div class="container-contact100" style="background-image: url('~/abtlogo1.png');">

        <div class="row" style="position:relative">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li class="active">
                        <strong>
                            Welcome to the Integrated Community Agriculture and Nutrition Activity (ICAN)
                            DashBoard System

                            <br />
                        </strong>

                        <strong>
                            Client
                            <br />
                        </strong>

                        Abt Associates (USAID)
                        <br />

                        <strong>
                            Location
                            <br />
                        </strong>

                        Uganda

                        <br />

                        <strong>
                            About ICAN
                            <br />
                        </strong>

                        USAID/Uganda ICAN Project is working with community groups to maximize economic
                        opportunities for vulnerable <br />
                        households, stabilize their access to and consumption
                        of diverse and nutritious diets, and increase social capital by <br />
                        reinforcing relationships between formal governance systems and communities. Making Cents
                        International is <br />
                        supporting the project by improving the participation of adolescent girls
                        and young women (AGYW) agriculture and <br />
                        non-agriculture-based livelihoods,and by strengthening their connections to markets and financial services.<br />
                        To achieve this, Making Cents is developing a youth livelihoods program that:

                        <br />

                        1. focuses on their engagement with and inclusion into Village Savings and Loans
                        Associations (VSLA), and <br />

                        2. is complemented by an agri-preneurship curriculum, with support from private
                        market actors to connect to them to market systems. Given Uganda’s high proportion
                        of youth population, the livelihoods program is being developed with youth at the
                        forefront to ensure its relevancy to the participants. To implement these
                        interventions, Making Cents is providing capacity strengthening to Business
                        Development Service Providers (BDSPs), who can then launch a consulting business of
                        their own. This step not only reinforces a market-led approach, but also increases
                        the quality of delivery of BDSPs as they deliver fee-worthy services.
                        Additionally, Making Cents is engaging with AGYW between 14-24 years old to build
                        their human and social assets, which will empower them to build a healthy and more
                        resilient life. Making Cents is supporting the ICAN team to implement a series of
                        five-day camps that will provide AGYW with the opportunities to reconnect with the
                        project's learning platform and expand their competencies required for holistic
                        growth. These camps are employing the Empowerment for Adolescent Girls framework
                        to build their voice, choice, and control over assets. <br />

                        <strong>
                            Challenge
                            <br />
                        </strong>

                        Communities in Uganda suffer from multiple challenges, such as poverty, food
                        insecurity, high rates of malnutrition, disease, illiteracy, and high population
                        growth rates. Poor governance and ineffective service delivery systems often
                        exacerbate these challenges. Many poor households rely on subsistence agriculture
                        for their livelihoods, but technical assistance and extension services often do not
                        reach them. Poor education and lack of access to land severely limit the ability of
                        Uganda’s youth to positively contribute to the country’s development.


                    </li>

                </ol>

            </div>
        </div>
    </div>

</body>

</html>
