﻿
@{
    ViewData["Title"] = "Livelihood";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<link rel="stylesheet" rel='nofollow' href="~/dashboard/themes/default-theme/bootstrap.min.css" />
<link rel="stylesheet" rel='nofollow' href="~/dashboard/themes/default-theme/ej.dashboardViewer.all.min.css" />
<link rel="stylesheet" rel='nofollow' href="https://cdn.syncfusion.com/ej2/styles/compatibility/material.css" />
<script src="~/dashboard/scripts/jquery-1.10.2.min.js"></script>
<script src="~/dashboard/scripts/jquery.easing.1.3.min.js"></script>
<script src="~/dashboard/scripts/ej.dashboardViewer.all.min.js"></script>
<script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>


@*to resolve the jQuery conflicts*@
<script>
    var j1_10_2 = $.noConflict();
</script>

<style>

    body, html {
        height: 100%;
        width: 100%;
        padding: 5px;
    }
</style>


<div class="container">
    <ul class="tabs">
        @*<li class="tab-link current" data-tab="tab-all">All DashBoards</li>*@
        @* <li class="tab-link" data-tab="tab-1">Livelihood</li>*@
        @*<li class="tab-link" data-tab="tab-2">CG Assessment</li>
        <li class="tab-link" data-tab="tab-3">HH Profile</li>
        <li class="tab-link" data-tab="tab-4">BSP Survey Revised</li>*@

    </ul>
    @*<div id="tab-all" class="tab-content current" style="background: #ededed;">
        <div id="alldashboard"></div>
    </div>*@

    <div id="tab-1" class="tab-content current" style="background: #ededed;">
        <div id="dashboard"></div>
    </div>

    @*<div id="tab-2" class="tab-content current" style=" width: 100%;height: 100%; background: #ededed;">
        <div id="dashboard1"></div>
    </div>

    <div id="tab-3" class="tab-content current" style=" width: 100%;height: 100%; background: #ededed;">
        <div id="dashboard2"></div>
    </div>

    <div id="tab-4" class="tab-content current" style=" width: 100%;height: 100%; background: #ededed;">
        <div id="dashboard3"></div>
    </div>*@

</div>

<script type="text/javascript">

    var dashboardpathlvlhd = '@ViewBag.LivelihoodVSLA';
  
    j1_10_2(function (e) {

        j1_10_2("#dashboard").css({ "width": $("body").width() + "px", "height": $("body").height() + "px" })
        j1_10_2("#dashboard").ejDashboardViewer({

            ////IBS Office Server Dashboard Url
            //serviceUrl: "http://102.222.68.173:800/DashBoardService/DashboardService.svc",
            //dashboardPath: dashboardpathagyw,

            ////Local Dashboard Url
            serviceUrl: "http://localhost:8080/DashboardService.svc",
            dashboardPath: dashboardpathlvlhd,

        });
    });

</script>

<style>
    body, html, #dashboard {
        height: 100%;
        width: 100%;
    }
    /*  Remove Bottom Scroll content DashBoard View*/

    /* body, html, #dashboard {
        height: 100%;
        width: 100%;
        overflow-y: auto;
    }*/

    .container {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    ul.tabs {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        ul.tabs li {
            background: none;
            color: #222;
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
        }

            ul.tabs li.current {
                background: #009aef;
                color: #fff;
            }

    .tab-content {
        display: none;
        padding: 15px;
        height: 100%;
        width: 100%;
    }

        .tab-content.current {
            display: inherit;
        }

    #tab-2 {
        background-image: url(Images/devices-sprite.png);
        background-size: 470px;
        background-repeat: no-repeat;
    }
</style>

<script>
    $(document).ready(function () {
        $('ul.tabs li').click(function () {
            var tab_id = $(this).attr('data-tab');
            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');
            $(this).addClass('current');
            $("#" + tab_id).addClass('current');
        })
    })
</script>

