﻿
@model API_System.Models.ADepartment
@using Syncfusion.EJ2


<div id="defaultTab" style="width: 100%; padding-left:3%; padding-right:3%">

    <div class="panel-group" id="accordion">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title ">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapse2">
                        Departments Module
                    </a>
                </h5>
            </div>

            <br /><br />

            <div class="panel-body">
                <div class="row material2">

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6" hidden>
                        <ejs-textbox id="DepartmentId" asp-for="DepartmentId" cssClass="e-outline" placeholder="Department Id" floatLabelType="Auto" name="DepartmentId" type='text' disabled value="@Model.DepartmentId"></ejs-textbox>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="Department" asp-for="Department" cssClass="e-outline" placeholder="Department" floatLabelType="Auto" name="Department" type='text' value="@Model.Department"></ejs-textbox>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<ejs-scripts></ejs-scripts>
<script>
    function onFileRemove(args) {
        args.postRawFile = false;
    }
    //var dropElement = document.getElementsByClassName('control-fluid')[0];
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .dialogClass {
        color: white;
    }
</style>
<style>
    .panel-default > .panel-heading {
        background-color: #56ad61;
        color: white;
    }
</style>
